<p><strong>Of: </strong><%= @booking.room.name %></p>
<p><strong>Provided by: </strong><%= @booking.room.organization.name %></p>
<p><strong>At: </strong><%= @booking.room.location.name %></p>
<p><strong>Address: </strong><%= @booking.room.location.address %></p>