<fieldset class="booking_option" id="repeats_daily_options">
  <div class="form-group">
    <%= f.label :repeats_every_n_days , "Every", :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_every_n_days %>
      <span>day(s)</span>
    </div>
  </div>
</fieldset>
