<p>This is a jsbin to demonstrate an infinite scrolling pattern with
  ember.js. For more details, see <a  target='_blank'  href='http://coryforsyth.com/2013/07/28/infinite-scrolling-with-ember-js/'>this blog post</a> or the
  <a target='_blank' href='https://github.com/bantic/ember-infinite-scroll'>`InfiniteScroll` ember add-on</a>.
  Created by <a  target='_blank'  href='http://twitter.com/bantic'>Cory Forsyth</a>.
</p>