.axis path, .axis line {
  fill: none;
  opacity: 0.3;
  stroke: grey;
  shape-rendering: crispEdges;
}

.booking {
  fill: #33b5e5;
}

.booking-byuser {
  fill: #669900;
}

.booking-unavailable {
  fill: grey;
  opacity: 0.7;
}

.booking-available {
  fill: yellow;
  opacity: 0.3;
}