<%- model_class = Organization -%>
<% if @organizations.length > 0 %>
  <div class="page-header">
    <p>Select an organization from the list below</p>
  </div>
  <table class="table table-hover" id="organizations-table">
    <thead>
      <tr>
        <th>Organizations</th>
      </tr>
    </thead>
    <tbody id="search_results_table_body">
      <% @organizations.each do |organization| %>
        <tr id=<%= organization.id %> class="organization_results_row">
          <td><%= organization.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="page-header">
    <p>No organizations found.</p>
  </div>
<% end %>
