

<% @permission_set.attributes.each do |attribute, value| %>
  <% unless ['created_at', 'updated_at', 'id'].include? attribute %>
    <div class="form-group">
      <div class="col-sm-offset-2 checkbox">
        <%= label_tag "permission_set[#{attribute}]", ActiveRecord::Base.human_attribute_name(attribute) %>
        <div class="col-sm-1">
          <%= check_box("permission_set", "#{attribute}", options = {:checked => value}, checked_value = "1", unchecked_value = "0") %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>